<%= link_to  "Somar", calc_res_path(op: 'sum') %>
<%= link_to  "Subtrair", calc_res_path(op: 'sub') %>
<%= link_to  "Multiplicar", calc_res_path(op: 'mul') %>
<%= link_to  "Dividir", calc_res_path(op: 'div') %>